:root {
 background-color: #1e1f1f;
 padding: 0.4rem;
}

.kotta-one-regular {
 font-family: "Kotta One", serif;
 font-weight: 400;
 font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Kotta One", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.red {
 color: rgb(173, 8, 8);
}

.green {
 color: rgb(28, 158, 11);
}

.button {
 background-color: #98e8ee;
 border-radius: 0.8rem;
 margin: 0.4rem 0;
 padding: 0.3rem 0.6rem;
 font-weight: 700;
}

.app {
 display: flex;
 flex-flow: row nowrap;
 justify-content: space-between;
}

.app .friends-list {
 padding: 0;
 width: 12rem;
}

.app .friends-list ul {
 padding: 0;
}

.friend-item, .friend-selected {
 background-color: #1b365d;
 border-radius: 0.4rem;
 color: #ffffff;
 list-style: none;
 line-height: 1.1rem;
 margin-bottom: 0.6rem;
 max-width: 15rem;
 padding: 0.4rem;
 
 img {
  align-self: left;
  display: inline-block;
  width: 2.6rem;
  height: 2.6rem;
 }
 
 .friend-name {
  display: inline-block;
  font-weight: 700;
  margin-left: 0.5rem;
 }
 
 p {
  margin: 0;
 }
}

.friend-selected, .split-bill-form {
 background-color: #f1f7ff;
 color: #1b365d;
 border-radius: 0.4rem;
}

form {
 display: flex;
 flex-flow: column nowrap;
 padding: 0.4rem;

 input, select {
  background-color: #f2c75c;
  border-radius: 0.4rem;
  height: 1.32rem;
 }
}

.add-friend-form {
 background-color: #1b365d;
 border-radius: 0.4rem;
 color: #ffffff;
 font-weight: 700;
}

.add-friend-form > input,
.split-bill-form> input,
.add-friend-form > button {
 margin-bottom: 0.4rem;
}
