:root {
 background-color: #1b263d;
 padding: 0.4rem;
}

.kotta-one-regular {
 font-family: "Kotta One", serif;
 font-weight: 400;
 font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Kotta One", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading {
 color: #4da4be;
 text-align: center;
}

.red {
 color: rgb(247, 114, 26);
}

.green {
 color: rgb(53, 228, 30);
}

.button {
 background-color: #98e8ee;
 border-radius: 0.8rem;
 font-weight: 700;
 height: 2.2rem;
 margin: 0.4rem 0;
 padding: 0.3rem 0.6rem;
}

.app {
 display: flex;
 flex-flow: row nowrap;
 justify-content: space-between;
}

.friends-list {
 margin-right: 0.4rem;
 padding: 0;
 max-width: 24rem;
}

.friends-list ul {
 padding: 0;
}

.friend-item, .friend-selected {
 background-color: #395672;
 border-radius: 0.4rem;
 color: #ffffff;
 display: flex;
 flex-flow: row nowrap;
 justify-content: space-between ;
 list-style: none;
 line-height: 1.1rem;
 margin-bottom: 0.6rem;
 padding: 0.4rem;
 
 img {
  height: 3rem;
  margin-right: 0.5rem;
  width: 3rem;
 }
 
 .friend-name {
  font-weight: 700;
 }
 
 p {
  margin: 0;
 }

}

.image-and-friend-name-container {
 display: flex;
 flex-flow: row nowrap;
 justify-content: flex-start;
 margin-right: 1rem;
}

.friend-name-and-text {
 display: flex;
 flex-flow: column nowrap;
 justify-content: space-between;
}

.friend-selected, .split-bill-form {
 background-color: #f1f7ff;
 color: #1b365d;
 border-radius: 0.4rem;
}

form {
 display: flex;
 flex-flow: column nowrap;
 padding: 0.4rem;

 input, select {
  background-color: #f2c75c;
  border-radius: 0.4rem;
  height: 2.2rem;
  font-size: large;
 }

 select {
  height: 2.5rem;
 }
}

.add-friend-form {
 background-color: #395672;
 border-radius: 0.4rem;
 color: #ffffff;
 font-weight: 700;
}

.add-friend-form > input,
.split-bill-form > input,
.add-friend-form > button {
 margin-bottom: 0.4rem;
}

.split-bill-form {
 margin-top: 1rem;
}

@media (max-width: 650px) {
 .app {
  display: flex;
  flex-flow: column nowrap;
 }

 .friends-list {
  max-width: 98%;
  }
}